pip==20.3
bump2version==1.0.0
wheel==0.35.1
watchdog==0.10.3
flake8==3.8.3
tox==3.20.0
coverage==5.2.1
pydata-sphinx-theme==0.4.0
Sphinx==3.2.1
twine==3.2.0
pytest==6.0.1
pytest-runner==5.2
numpy==1.19.2
scipy==1.5.2